[common]
port = 3000
httpsPort = 443
# open https server or not
# httpsServer = true

[api]
pathname = [
  "get | /, /version | Static.Utils.getPackageInfo",
  "post | /phoneVerify | Bot.MessageBird.setPhoneBook",
  "post | /codeVerify | Bot.MessageBird.verifyCode"
]

[messagebird]
apiKey = 'YOUR-API-KEY'
originator = 'YOUR_PHONE'
#expireSecond = 180